.burger {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    pointer-events: none;
  }

  &__btn {
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @media (max-width: $md) {
      position: relative;
      z-index: 11;
      display: flex;
      flex-direction: column;
      width: 26px;
      height: 18px;
      opacity: 1;
      visibility: initial;
      transition: all 0.25s 0.25s;
      pointer-events: all;
      gap: 6px 0;

      &::before,
      &::after {
        content: "";
        display: block;
        width: 26px;
        height: 2px;
        background: cl(color-white);
      }

      &::before {
        animation: down-rotate-back 0.6s ease-out both;
      }

      &::after {
        animation: up-rotate-back 0.6s ease-out both;
      }

      span {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 2px;
        background: cl(color-white);
        animation: show 0.6s ease-out forwards;
      }

      @keyframes up-rotate-back {
        0% {
          background: cl(color-blue);
          transform: translateY(-8px) rotate(45deg);
          transform-origin: center;
        }

        30% {
          transform: translateY(-8px);
          transform-origin: center;
          animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
        }

        100% {
          transform: translateY(0);
          animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
        }
      }

      @keyframes down-rotate-back {
        0% {
          background: cl(color-blue);
          transform: translateY(8px) rotate(-45deg);
          transform-origin: center;
        }

        30% {
          transform: translateY(8px);
          transform-origin: center;
          animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
        }

        100% {
          transform: translateY(0);
          animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
        }
      }

      @keyframes show {
        29% {
          background: cl(color-blue);
          opacity: 0;
        }

        30% {
          background: cl(color-blue);
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
    }
  }

  &__menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100vh;
    opacity: 0;
    transition: all 5s ease, margin-top 0.8s ease-out;
    pointer-events: none;
  }

  ._active & {
    @media (max-width: $md) {
      &__icon {
        &::before {
          animation: down-rotate 0.6s ease-out both;
        }

        &::after {
          animation: up-rotate 0.6s ease-out both;
        }

        span {
          animation: hide 0.6s ease-out forwards;
        }
      }

      &__menu {
        margin-top: 0;
        background: cl(color-white);
        opacity: 1;
        transition: all 0s ease, margin-top 1s ease-out;
        pointer-events: all;
      }

      @keyframes up-rotate {
        0% {
          transform: translateY(0);
          animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
        }

        30% {
          background: cl(color-blue);
          transform: translateY(-8px);
          transform-origin: center;
          animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
        }

        100% {
          background: cl(color-blue);
          transform: translateY(-8px) rotate(45deg);
          transform-origin: center;
        }
      }

      @keyframes down-rotate {
        0% {
          transform: translateY(0);
          animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
        }

        30% {
          background: cl(color-blue);
          transform: translateY(8px);
          transform-origin: center;
          animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
        }

        100% {
          background: cl(color-blue);
          transform: translateY(8px) rotate(-45deg);
          transform-origin: center;
        }
      }

      @keyframes hide {
        29% {
          opacity: 1;
        }

        30% {
          background: cl(color-blue);
          opacity: 0;
        }

        100% {
          background: cl(color-blue);
          opacity: 0;
        }
      }
    }
  }
}

._active.burger {
  &::before {
    content: "";
    position: fixed;
    z-index: 2;
    background: cl(color-black, 0.25);
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
    pointer-events: all;
  }
}

.menu-burger {
  z-index: 10;
  overflow: hidden scroll;
  max-height: 100%;

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    min-width: 298px;
    max-width: 100%;
    gap: 35px 0;

    .phones {
      &__list {
        align-items: flex-start;
      }

      &__item {
        flex-direction: row-reverse;
        gap: 0 16px;
      }

      &__name {
        font-size: 12px;
        color: cl(color-blue);
      }

      &__tel {
        color: cl(color-blue);

        &::after {
          background: cl(color-blue);
        }
      }
    }
  }

  .nav {
    // .nav__list

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 35px 0;
    }

    // .nav__item

    &__item {
      position: relative;
      font: cl(font-base);
      font-size: 18px;
      color: cl(color-blue);

      ._underline::after {
        bottom: -1px;
        background: cl(color-blue);
      }

      &:hover::after,
      &._active::after {
        width: 100%;
      }
    }
  }

  .custom-select-lang {
    &-panel {
      position: relative;
      display: flex;
      justify-content: center;
      overflow: visible;
      max-width: 87px;
      max-height: 100%;
      background: transparent;
      gap: 25px;
    }

    &-option {
      display: block;
      padding: 5px 6px;
      height: 25px;
      font: cl(font-base);
      font-size: 18px;
      line-height: 16px;
      text-align: center;
      text-decoration: underline;
      color: cl(color-blue);
      background-color: transparent;

      &.is-selected {
        text-decoration: none;
        background-color: cl(color-gray);
      }
    }
  }
}
