@use "sass:color";

.close {
  position: absolute;
  right: 20px;
  top: 40px;
  display: block;
  width: 24px;
  height: 24px;

  // close::before,
  // close::after
  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 50%;
    width: 24px;
    height: 2px;
    background-color: cl(color-black);
    transform: translateY(-50%);
    transition: background-color 0.1s ease-in-out;
  }

  // close::before
  &::before {
    transform: rotate(45deg);
  }

  // close::after
  &::after {
    transform: rotate(-45deg);
  }

  &:hover.close::before,
  &:hover.close::after {
    background-color: cl(color-black, 0.8);
  }
}
