.modal-window {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: cl(color-black, 0.25);
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;

  // .modal-window__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100vh;
    padding: 0 #{$safe-padding}px;
    min-height: 100%;
    opacity: 0;
    transition: all 5s ease, margin-top 0.8s ease-out;
    pointer-events: none;
  }

  // .modal-window__content
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden auto;
    padding: 40px;
    min-height: 520px;
    max-width: 375px;
    max-height: 80vh;
    color: cl(color-black);
    background-color: cl(color-white);
    gap: 40px;
  }

  &._active {
    z-index: 60;
    opacity: 1;
    pointer-events: all;
  }

  ._active & {
    &__container {
      margin-top: 0;
      opacity: 1;
      transition: all 0s ease, margin-top 1s ease-out;
      pointer-events: all;
    }
  }
}
