.nav {
  // .nav__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  // .nav__item
  &__item {
    display: inline-block;
    padding: 15px 30px;
    font: cl(font-base);
    color: cl(color-sand);
    background-color: transparent;
    transition: color 0.1s ease 0s;
  }

  // .nav__link
  &__link {
  }
}
