@mixin checkbox($font, $color-text: #000, $mr: 20px, $w: 10px, $h: 10px, $br: none, $thicknes: 2px, $color-border: #000, $background-mark: url("data:image/svg+xml,%3Csvg version='1.1' id='fi_32282' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='405.272px' height='405.272px' viewBox='0 0 405.272 405.272' style='enable-background:new 0 0 405.272 405.272;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E") center center/50% no-repeat, $background_checked: #fff, $brc: #fff) {
  position: relative;
  display: inline-block;
  margin: 0;
  height: $h;

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: none;
    pointer-events: none;
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
    font: $font;
    line-height: 50%;
    text-align: center;
    color: $color-text;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    user-select: none;
    -webkit-touch-callout: none;

    &::before {
      content: "";
      position: relative;
      display: inline-block;
      margin-right: $mr;
      border: $thicknes solid $color-border;
      border-radius: $br;
      width: $w;
      height: 100%;
      box-sizing: border-box;
      background-color: transparent;
      transition: opacity 0.3s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      display: inline-block;
      margin-right: $mr;
      width: $w;
      height: 100%;
      color: $color-border;
      fill: currentColor;
      background: $background-mark;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &__input:checked + &__label::after {
    border: $thicknes solid $brc;
    border-radius: $br;
    background-color: $background_checked;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  &__label:hover + &__label::before {
    box-shadow: -1px 1px 8px $color-border;
  }

  &__input:focus + &__label::before {
    box-shadow: -1px 1px 8px $color-border;
  }

  &__input:disabled + &__label {
    border: none;
    color: #8d8d8d;
    cursor: none;
    pointer-events: none;
  }

  &__input:disabled + &__label::before {
    border: none;
    background-color: #8d8d8d;
    pointer-events: none;
  }
}
