@mixin font-face($font-family, $url, $weight) {
  @font-face {
    src: url("../fonts/#{$url}.woff2") format("woff2");
    font-family: "#{$font-family}";
    font-weight: #{$weight};
    font-display: swap;
  }
}