@mixin spoiler($bgc: #000, $tdur: 0.3s) {
  &._init &__title {
    cursor: pointer;
  }

  &._init &__title::before,
  &._init &__title::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 20px;
    width: 20px;
    height: 1px;
    background-color: $bgc;
    transition: transform $tdur ease 0s;
  }

  &._init &__title::after {
    transform: rotate(-90deg);
  }

  &._init &__title._active::after {
    transform: rotate(0deg);
  }
}
