@mixin tooltip($text-color: cl(color-white), $bkg-color: #222, $max-width: 370px, $padding: 20px, $font) {
  position: relative;

  // .tooltip__btn

  &__btn {
    border: none;
    border-bottom: 1px dashed currentColor;
    padding: 0;
    color: cl(color-black);
    background-color: transparent;
    cursor: pointer;
  }

  // .tooltip__info

  &__info {
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    z-index: 3;
    padding: $padding;
    width: max-content;
    max-width: $max-width;
    box-shadow: 0 0 29px cl(color-black);
    font: $font;
    color: $text-color;
    background: $bkg-color;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  // .tooltip__btn:hover + .tooltip__info

  &__btn:hover + &__info {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
  }

  // .tooltip__btn:focus + .tooltip__info

  &__btn:focus + &__info {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
  }
}
