<div class="modal-window @cls" id="@id" data-modal-window>
  <div class="_container modal-window__container">
    <div class="modal-window__content" data-modal-window_area>
      <button class="_btn-reset close modal-window__close" data-modal-window_close></button>
      <h4 class="modal-window__title">Test modal @id</h4>
      <p class="modal-window__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla nam itaque tempora
        voluptate soluta cumque, cupiditate molestiae perferendis repellat ex, incidunt inventore minus ipsum eius unde
        hic voluptatem non corporis, architecto consequatur dolorem quibusdam consequuntur? Eum asperiores consectetur
        laborum iusto minus accusantium dignissimos fugiat dicta officia ut vitae expedita qui totam amet sed tenetur
        velit explicabo obcaecati eligendi eos, doloribus ex, unde illum. Deleniti a labore nemo ullam, eum, dolorum
        architecto obcaecati exercitationem aspernatur numquam quaerat commodi laboriosam! Provident fugit rem in est
        asperiores tenetur doloremque molestias, consequuntur reprehenderit dolor doloribus eaque, impedit amet.
        Provident assumenda recusandae quasi est quaerat.
      </p>
      @include('../mixins/spoiler.html', {'title': 'Part of the model', 'text': 'Hello, there!', 'parent-class':
      'modal-window'})
      <button data-modal=".modalSecond">Open second modalku</button>
    </div>
  </div>
</div>