<div class="modal-window @cls" id="@id" data-modal-window>
  <div class="_container modal-window__container">
    <div class="modal-window__content" data-modal-window_area>
      <button class="_btn-reset close modal-window__close" data-modal-window_close></button>
      <h4 class="modal-window__title">Тестовая модалочка @id</h4>
      <p class="modal-window__text">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
        За решила не буквенных рыбного домах языком буквоград путь образ снова подзаголовок! Буквоград его, все осталось
        алфавит пояс, последний первую вершину всемогущая семантика решила гор пор, языкового безорфографичный! Речью,
        встретил. Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Пор, букв
        коварных? Текста, парадигматическая рукопись своего пор, инициал сбить щеке свой бросил диких от всех вдали
        снова назад запятых? Себя над журчит пунктуация живет точках вопроса, снова оксмокс правилами послушавшись.
        Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Взобравшись, ты. Строчка,
        языкового предупреждал рукопись безорфографичный маленькая свой вскоре единственное ipsum буквенных маленький,
        даль ручеек меня не если сбить.
      </p>
      @include('../mixins/spoiler.html', {'title': 'Часть модалочки', 'text': 'Hello, there!', 'parent-class':
      'modal-window'})
      <button data-modal=".modalSecond">Открыть вторую модалку</button>
    </div>
  </div>
</div>