<div class="swiper" data-slider="horizontal, 0, 1, slide, 400, true, false, true, false, 300">
  <div class="swiper-wrapper">
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>
  <div class="swiper-pagination" data-slider_pagination="bullets, true, false, 1"></div>

  <div class="swiper-button-prev" data-slider_button="prev"></div>
  <div class="swiper-button-next" data-slider_button="next"></div>

  <div class="swiper-scrollbar" data-slider_scrollbar="true"></div>
</div>