<form class="survey" method="POST" data-test data-form data-survey>
  <div class="survey__content">
    <div class="survey__questions" data-survey_numbers="current/all"></div>
    <div class="survey__question question-survey" data-survey_slide="1">
      <h3 class="question-survey__title" data-survey_title></h3>
      <div class="question-survey__answers" data-survey_answers></div>
      <button type="button" class="question-survey__btn" data-survey_button></button>
    </div>
    <div class="survey__question question-survey" data-survey_slide="2">
      <h3 class="question-survey__title" data-survey_title></h3>
      <div class="question-survey__answers" data-survey_answers></div>
      <button type="button" class="question-survey__btn" data-survey_button></button>
    </div>
    <div class="survey__question question-survey" data-survey_slide="3">
      <h3 class="question-survey__title" data-survey_title></h3>
      <div class="question-survey__answers" data-survey_answers></div>
      <button type="button" class="question-survey__btn" data-survey_button></button>
    </div>
    <div class="survey__end" data-survey_end>the end</div>
  </div>
</form>