<form class="survey" method="POST" data-test data-form data-survey>
  <div class="survey__content">
    <div class="survey__questions" data-surveyNumbers="current из all"></div>
    <div class="survey__question question-survey" data-surveySlide="1">
      <h3 class="question-survey__title" data-surveyTitle></h3>
      <div class="question-survey__answers" data-surveyAnswers></div> 
      <button type="button" class="question-survey__btn" data-surveyButton></button>
    </div>
    <div class="survey__question question-survey" data-surveySlide="2">
      <h3 class="question-survey__title" data-surveyTitle></h3>
      <div class="question-survey__answers" data-surveyAnswers></div> 
      <button type="button" class="question-survey__btn" data-surveyButton></button>
    </div>
    <div class="survey__question question-survey" data-surveySlide="3">
      <h3 class="question-survey__title" data-surveyTitle></h3>
      <div class="question-survey__answers" data-surveyAnswers></div> 
      <button type="button" class="question-survey__btn" data-surveyButton></button>
    </div>
    <div class="survey__end" data-surveyEnd>КАНЕЦ</div>
  </div>
</form>