<div class="tab">
  <ul class="_list-reset tab__nav nav-tab">
    <li class="nav-tab__item _active"><a class="_link-reset" data-tab_path="#tab_01">Первый таб</a></li>
    <li class="nav-tab__item"><a class="_link-reset" data-tab_path="#tab_02">Второй таб</a></li>
    <li class="nav-tab__item"><a class="_link-reset" data-tab_path="#tab_03">Третий таб</a></li>
    <li class="nav-tab__item"><a class="_link-reset" data-tab_path="#tab_04">Четвёртый таб</a></li>
  </ul>
  <ul class="_list-reset tab__items">
    <li id="tab_01" class="tab__item">
      First, Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Которой языком океана грустный продолжил мир великий силуэт, пустился вопроса буквоград жаренные дороге домах букв живет коварный несколько приставка необходимыми назад моей даль агентство журчит то они наш? Всемогущая повстречался, решила заманивший переулка собрал имени курсивных рыбного агентство подпоясал языкового.
    </li>
    <li id="tab_02" class="tab__item">
      Second, Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Которой языком океана грустный продолжил мир великий силуэт, пустился вопроса буквоград жаренные дороге домах букв живет коварный несколько приставка необходимыми назад моей даль агентство журчит то они наш? Всемогущая повстречался, решила заманивший переулка собрал имени курсивных рыбного агентство подпоясал языкового.
    </li>
    <li id="tab_03" class="tab__item">
      Third, Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Которой языком океана грустный продолжил мир великий силуэт, пустился вопроса буквоград жаренные дороге домах букв живет коварный несколько приставка необходимыми назад моей даль агентство журчит то они наш? Всемогущая повстречался, решила заманивший переулка собрал имени курсивных рыбного агентство подпоясал языкового.
    </li>
    <li id="tab_04" class="tab__item">
      Fourth, Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Которой языком океана грустный продолжил мир великий силуэт, пустился вопроса буквоград жаренные дороге домах букв живет коварный несколько приставка необходимыми назад моей даль агентство журчит то они наш? Всемогущая повстречался, решила заманивший переулка собрал имени курсивных рыбного агентство подпоясал языкового.
    </li>
  </ul>
</div>