<div class="tab">
  <ul class="_list-reset tab__nav nav-tab">
    <li class="nav-tab__item _active"><a class="_link-reset" data-tab_path="#tab_01">First tab</a></li>
    <li class="nav-tab__item"><a class="_link-reset" data-tab_path="#tab_02">Second tab</a></li>
    <li class="nav-tab__item"><a class="_link-reset" data-tab_path="#tab_03">Third tab</a></li>
    <li class="nav-tab__item"><a class="_link-reset" data-tab_path="#tab_04">Fourth tab</a></li>
  </ul>
  <ul class="_list-reset tab__items">
    <li id="tab_01" class="tab__item">
      First, Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dignissimos pariatur quas veritatis, unde
      itaque dolorem nemo sit quia temporibus omnis earum magni facere laboriosam, ea eveniet in! Accusamus, ad veniam
      vero, velit eum consectetur possimus ex ullam, exercitationem repellat inventore nihil id blanditiis fugiat
      necessitatibus tempore ea nobis officia.
    </li>
    <li id="tab_02" class="tab__item">
      Second, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio ex dolor doloremque iusto voluptas error
      dolore, ipsa, quasi exercitationem excepturi, debitis possimus ratione numquam eum consequuntur blanditiis quia.
      Veritatis, modi officiis? Consectetur exercitationem optio deleniti perspiciatis amet facere assumenda ut,
      blanditiis eius vel sequi sit nihil fugit veniam itaque eum?
    </li>
    <li id="tab_03" class="tab__item">
      Third, Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis velit ipsa tenetur ut doloremque, dolor
      eaque quam? Sit dignissimos aliquid ratione vero rerum maxime, sequi voluptas beatae iure reprehenderit quibusdam
      possimus a laborum, expedita facilis eaque maiores ipsum voluptates, necessitatibus iusto quos quod laboriosam
      animi? Est eius suscipit commodi nihil.
    </li>
    <li id="tab_04" class="tab__item">
      Fourth, Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore illo dolores nesciunt neque iusto non
      culpa, ea sint quam, eveniet quas autem ex sunt voluptas, nostrum doloremque maiores fugiat adipisci veniam
      voluptate labore! Quae nisi, eum consectetur, corporis quibusdam ipsam laudantium blanditiis natus magnam, odit
      omnis! Molestias accusamus quasi repellendus.
    </li>
  </ul>
</div>