<div class="modal-window modal-hello _active" id="modal-hello" data-modal-window>
  <div class="_container modal-window__container">
    <div class="modal-window__content" data-modal-window_area>
      <h4 class="modal-hello__title">Привет, посетитель <img src="https://raw.githubusercontent.com/ABSphreak/ABSphreak/master/gifs/Hi.gif" alt=""></h4>
      <p class="modal-hello__text">Данный сайт был свёрстан <a target="_blank" class="_link-reset _underline" href="https://freelance.habr.com/freelancers/Wyndace"><strong>Александром&nbsp;Васильевым</strong></a> и&nbsp;является частью <a target="_blank" href="https://github.com/Wyndace" class="_link-reset _underline"><strong>его портфолио</strong></a>.</p>
      <p class="modal-hello__text">Данная работа не имеет никакого отношения к компаниям, проектам, командам и прочему, что здесь отображены.</p>
      <p class="modal-hello__text">Макет был взят из @where <a target="_blank" href="@where-link" class="_link-reset _underline"><strong>@where-name</strong></a></p>
      <p class="modal-hello__text">Если Вам понравился сайт, и Вы хотели бы заказать нечто подобное, а может быть совершенно непохожее на эту работу, то:</p>
      <ul class="modal-hello__list">
        <li class="modal-hello__item"><span>Можете пригласить меня в заказ на <a target="_blank" href="https://freelance.habr.com/freelancers/Wyndace" class="_link-reset _underline"><strong>freelance.habr.com</strong></a></span></li>
        <li class="modal-hello__item"><span>Можете написать мне на почту <a target="_blank" href="mailto:wyndace@stylelifeweb.ru" class="_link-reset _underline"><strong>wyndace@stylelifeweb.ru</strong></a></span></li>
        <li class="modal-hello__item"><span>Можете написать мне в телеграм <a target="_blank" href="https://t.me/Wyndace" class="_link-reset _underline"><strong>@Wyndace</strong></a></span></li>
      </ul>
      <button class="modal-hello__btn btn btn_primary _btn-reset" data-modal-window_close>Я всё понял, могу закрыть</button>
    </div>
  </div>
</div>