// === Sass imports ======================================================================================================================================================

@use "sass:math";

// =======================================================================================================================================================================

// === Functions ==========================================================================================================================================================

@function hex-to-rgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

@function cl($name, $opacity: false) {
  @if $opacity {
    @return rgba(var(--#{unquote($name)}), $opacity);
  } @else {
    @if "color" == str-slice($name, 1, 5) {
      @return rgb(var(--#{unquote($name)}));
    } @else {
      @return var(--#{unquote($name)});
    }
  }
}

@function remove-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }

  @return $number;
}

@function fluid-value($minSize, $maxSize, $minWidth: $xxs, $maxWidth: $template-size, $units: px) {
  $minSize: remove-unit($minSize);
  $maxSize: remove-unit($maxSize);
  $minWidth: remove-unit($minWidth);
  $maxWidth: remove-unit($maxWidth);
  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $y-axis-intersection: -1 * $minWidth * $slope + $minSize + $units;

  @return clamp(#{#{$minSize} + $units}, #{$y-axis-intersection} + #{$slope} * 100vw, #{#{$maxSize} + $units});
}

// ========================================================================================================================================================================
