@font-face {
	font-family: "test_font";
	src: url('../../fonts/test_font.eot');
	src: url('../../fonts/test_font.eot?#iefix') format('eot'),
		url('../../fonts/test_font.woff2') format('woff2'),
		url('../../fonts/test_font.woff') format('woff'),
		url('../../fonts/test_font.ttf') format('truetype'),
		url('../../fonts/test_font.svg#test_font') format('svg');
}

.icon:before {
	font-family: "test_font";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-email:before {
	content: "\E001";
}

.icon-plus:before {
	content: "\E002";
}
