// Here are the main styles for all pages.

// ====================================================================================================================================================================

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: cl(font-family);
  background-color: cl(color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

._link-reset {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

._list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

._is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

._is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

._for-mobile {
  display: none;
}

._error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

._btn-reset {
  border: none;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

._hidden {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

._container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

._scroll-disabled {
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  &_horizontal {
    overflow-x: hidden;
    width: 100vw;
  }

  &_vertical {
    overflow-y: hidden;
    height: 100vh;
  }
}

// ========================================================================================================================================================================
