// Your variables are stored here

// ====================================================================================================================================================================

:root {
  // Colors
  --color-black: #{hex-to-rgb(#000)};
  --color-white: #{hex-to-rgb(#fff)};
  --color-blue: #{hex-to-rgb(#26a4ec)};
  --color-sand: #{hex-to-rgb(#fbe0cd)};
  --color-error: #{hex-to-rgb(#ef1e45)};

  // Indents
  --section-offset: 60px;

  // Borders
  --border-radius: 4px;

  // Fonts
  --font-family: #{$font-family}, sans-serif;

  // Typefaces
  --font-base: 400 #{fluid-value(16px, 18px, $xxs, $template-size)} / 140% #{cl(font-family)};
  --font-bold: 700 #{fluid-value(22, 24)} / 140% #{cl(font-family)};
}

// ====================================================================================================================================================================
