<style>
  .form {
    position: relative;
  }

  .form>.form__sending {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
  }

  .form._sending>.form__sending {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .form__input._error {
    box-shadow: 0 0 15px #f00;
  }

  .form__checkbox._error,
  .form__radio._error {
    box-shadow: 0 0 15px #f00;
  }
</style>

<form data-test data-form action="#" class="form @parent-class__form">
  <div class="form__sending">
    @include('../mixins/loading.html')
  </div>
  <fieldset class="form__body">
    <legend class="form__title">Form title</legend>
    <div class="form__item">
      <label for="input" class="form__label">Text for Input</label>
      <input type="text" data-form_input_text name="text" id="input" class="form__input">
    </div>
    <div class="form__item">
      <label for="tel" class="form__label">Text for Input of phone</label>
      <input type="tel" data-form_require data-form_input_tel name="tel" id="tel" class="form__input">
    </div>
    <div class="form__item">
      <label for="email" class="form__label">Text for Input of email</label>
      <input type="email" data-form_require data-form_input_email name="email" id="email" class="form__input">
    </div>
    <div class="form__item">
      @include('../mixins/checkbox.html', {'text': 'The text of the checkbox', 'parent-class': 'form', 'id': 'checkbox',
      'name':
      'checkbox', 'type': 'checkbox', 'data-attrs': 'data-form_require'})
    </div>
    <div class="form__item">
      @include('../mixins/checkbox.html', {'text': 'Radio button text', 'parent-class': 'form', 'id': 'radio', 'name':
      'radio',
      'type': 'radio', 'data-attrs': 'checked'})
    </div>
    <div class="form__item">
      @include('../mixins/checkbox.html', {'text': 'Radio button text', 'parent-class': 'form', 'id': 'radio', 'name':
      'radio',
      'type': 'radio', 'data-attrs': ''})
    </div>
    <div class="form__item">
      @include('../mixins/checkbox.html', {'text': 'Radio button text', 'parent-class': 'form', 'id': 'radio', 'name':
      'radio',
      'type': 'radio', 'data-attrs': ''})
    </div>
  </fieldset>
  <button type="submit" data-submit class="form__btn">Send</button>
</form>